#Preprocesado de datos

Para poder utilizar un fichero de datos que tengamos en nuestro drive en google colab primero habrá que montar el drive y luego acceder con el path completo desde el punto de montaje:

In [10]:
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

!ls -alF 'drive/MyDrive/Colab Notebooks'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
total 525
-rw------- 1 root root 134573 Feb 14 11:11 'Copia de Te damos la bienvenida a Colaboratory'
-rw------- 1 root root   4771 Feb 27 14:42  covid_Spain.ipynb
-rw------- 1 root root    911 Feb 27 14:41  datos.csv
drwx------ 2 root root   4096 Feb 17 19:47  MaterialPython/
-rw------- 1 root root  47769 Feb 27 17:09  NaiveBayes.ipynb
-rw------- 1 root root  76039 Feb 27 18:07  Preprocesado.ipynb
-rw------- 1 root root  56608 Feb 27 14:41 'Recomendador de pelis.ipynb'
-rw------- 1 root root 211316 Feb 27 18:15 'Sesgo y varianza.ipynb'

Aquí vemos cómo cargar por ejemplo el fichero `datos.csv` que está en el directorio `Colab Notebooks`

In [3]:
df = pd.read_csv('drive/MyDrive/Colab Notebooks/datos.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Duración         32 non-null     int64
 1   Fecha            31 non-null     object
 2   Pulsaciones      32 non-null     int64
 3   Máx pulsaciones  32 non-null     int64
 4   Calorías         29 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB

In [11]:
df

    Duración      Fecha  Pulsaciones  Máx pulsaciones    Calorías
0         60 2020-12-01          110              130  409.100000
1         60 2020-12-02          117              145  479.000000
2         60 2020-12-03          103              135  340.000000
3         45 2020-12-04          109              175  282.400000
4         45 2020-12-05          117              148  406.000000
5         60 2020-12-06          102              127  300.000000
6         60 2020-12-07          110              136  374.000000
7        120 2020-12-08          104              134  253.300000
8         30 2020-12-09          109              133  195.100000
9         60 2020-12-10           98              124  269.000000
10        60 2020-12-11          103              147  329.300000
11        60 2020-12-12          100              120  250.700000
13        60 2020-12-13          106              128  345.300000
14        60 2020-12-14          104              132  379.300000
15        60 2020-12-15           98              123  275.000000
18        45 2020-12-18           90              112  306.806897
19        60 2020-12-19          103              123  323.000000
20        45 2020-12-20           97              125  243.000000
21        60 2020-12-21          108              131  364.200000
23        60 2020-12-23          130              101  300.000000
24        45 2020-12-24          105              132  246.000000
25        60 2020-12-25          102              126  334.500000
26        60 2020-12-26          100              120  250.000000
27        60 2020-12-27           92              118  241.000000
28        60 2020-12-28          103              132  306.806897
29        60 2020-12-29          100              132  280.000000
30        60 2020-12-30          102              129  380.300000
31        60 2020-12-31           92               11  306.806897



Para elminiar las filas en las que falta algún valor: `dropna`

*   Con `inplace=True` se modifica el dataframe, y no devuelve nada

    `df.dropna(inplace = True)`

*   Por defecto `inplace=False` y devuelve el dataframe con las filas eliminadas, que habrá que guardar en otro:

    `df2 = df2=df.dropna()`

In [12]:
df2 = df2=df.dropna()
df2

    Duración      Fecha  Pulsaciones  Máx pulsaciones    Calorías
0         60 2020-12-01          110              130  409.100000
1         60 2020-12-02          117              145  479.000000
2         60 2020-12-03          103              135  340.000000
3         45 2020-12-04          109              175  282.400000
4         45 2020-12-05          117              148  406.000000
5         60 2020-12-06          102              127  300.000000
6         60 2020-12-07          110              136  374.000000
7        120 2020-12-08          104              134  253.300000
8         30 2020-12-09          109              133  195.100000
9         60 2020-12-10           98              124  269.000000
10        60 2020-12-11          103              147  329.300000
11        60 2020-12-12          100              120  250.700000
13        60 2020-12-13          106              128  345.300000
14        60 2020-12-14          104              132  379.300000
15        60 2020-12-15           98              123  275.000000
18        45 2020-12-18           90              112  306.806897
19        60 2020-12-19          103              123  323.000000
20        45 2020-12-20           97              125  243.000000
21        60 2020-12-21          108              131  364.200000
23        60 2020-12-23          130              101  300.000000
24        45 2020-12-24          105              132  246.000000
25        60 2020-12-25          102              126  334.500000
26        60 2020-12-26          100              120  250.000000
27        60 2020-12-27           92              118  241.000000
28        60 2020-12-28          103              132  306.806897
29        60 2020-12-29          100              132  280.000000
30        60 2020-12-30          102              129  380.300000
31        60 2020-12-31           92               11  306.806897


Otra opción era rellenar los valores que faltan con un valor, por ejemplo 0, la media u otro, usando `fillna()`

In [13]:
media = df["Calorías"].mean()
df["Calorías"].fillna(media, inplace=True)
df

    Duración      Fecha  Pulsaciones  Máx pulsaciones    Calorías
0         60 2020-12-01          110              130  409.100000
1         60 2020-12-02          117              145  479.000000
2         60 2020-12-03          103              135  340.000000
3         45 2020-12-04          109              175  282.400000
4         45 2020-12-05          117              148  406.000000
5         60 2020-12-06          102              127  300.000000
6         60 2020-12-07          110              136  374.000000
7        120 2020-12-08          104              134  253.300000
8         30 2020-12-09          109              133  195.100000
9         60 2020-12-10           98              124  269.000000
10        60 2020-12-11          103              147  329.300000
11        60 2020-12-12          100              120  250.700000
13        60 2020-12-13          106              128  345.300000
14        60 2020-12-14          104              132  379.300000
15        60 2020-12-15           98              123  275.000000
18        45 2020-12-18           90              112  306.806897
19        60 2020-12-19          103              123  323.000000
20        45 2020-12-20           97              125  243.000000
21        60 2020-12-21          108              131  364.200000
23        60 2020-12-23          130              101  300.000000
24        45 2020-12-24          105              132  246.000000
25        60 2020-12-25          102              126  334.500000
26        60 2020-12-26          100              120  250.000000
27        60 2020-12-27           92              118  241.000000
28        60 2020-12-28          103              132  306.806897
29        60 2020-12-29          100              132  280.000000
30        60 2020-12-30          102              129  380.300000
31        60 2020-12-31           92               11  306.806897

Para arreglar los valores de fecha incorrectos, se puede intentar corregir con `to_datetime()`

In [7]:
df['Fecha'] = pd.to_datetime(df['Fecha'], errors = 'coerce')
df.dropna(subset=['Fecha'], inplace = True)
df

    Duración      Fecha  Pulsaciones  Máx pulsaciones    Calorías
0         60 2020-12-01          110              130  409.100000
1         60 2020-12-02          117              145  479.000000
2         60 2020-12-03          103              135  340.000000
3         45 2020-12-04          109              175  282.400000
4         45 2020-12-05          117              148  406.000000
5         60 2020-12-06          102              127  300.000000
6         60 2020-12-07          110              136  374.000000
7        450 2020-12-08          104              134  253.300000
8         30 2020-12-09          109              133  195.100000
9         60 2020-12-10           98              124  269.000000
10        60 2020-12-11          103              147  329.300000
11        60 2020-12-12          100              120  250.700000
12        60 2020-12-12          100              120  250.700000
13        60 2020-12-13          106              128  345.300000
14        60 2020-12-14          104              132  379.300000
15        60 2020-12-15           98              123  275.000000
18        45 2020-12-18           90              112  306.806897
19        60 2020-12-19          103              123  323.000000
20        45 2020-12-20           97              125  243.000000
21        60 2020-12-21          108              131  364.200000
23        60 2020-12-23          130              101  300.000000
24        45 2020-12-24          105              132  246.000000
25        60 2020-12-25          102              126  334.500000
26        60 2020-12-26          100              120  250.000000
27        60 2020-12-27           92              118  241.000000
28        60 2020-12-28          103              132  306.806897
29        60 2020-12-29          100              132  280.000000
30        60 2020-12-30          102              129  380.300000
31        60 2020-12-31           92               11  306.806897

Si algún valor está fuera de un rango establecido se puede corregir.

Por ejemplo si el mayor valor de la duración es 120 los que sean mayores se ponen a este valor máximo:

In [8]:
duracion_max = 120
for i in df.index:
    if df.loc[i, "Duración"] > duracion_max:
        df.loc[i, "Duración"] = duracion_max
df

    Duración      Fecha  Pulsaciones  Máx pulsaciones    Calorías
0         60 2020-12-01          110              130  409.100000
1         60 2020-12-02          117              145  479.000000
2         60 2020-12-03          103              135  340.000000
3         45 2020-12-04          109              175  282.400000
4         45 2020-12-05          117              148  406.000000
5         60 2020-12-06          102              127  300.000000
6         60 2020-12-07          110              136  374.000000
7        120 2020-12-08          104              134  253.300000
8         30 2020-12-09          109              133  195.100000
9         60 2020-12-10           98              124  269.000000
10        60 2020-12-11          103              147  329.300000
11        60 2020-12-12          100              120  250.700000
12        60 2020-12-12          100              120  250.700000
13        60 2020-12-13          106              128  345.300000
14        60 2020-12-14          104              132  379.300000
15        60 2020-12-15           98              123  275.000000
18        45 2020-12-18           90              112  306.806897
19        60 2020-12-19          103              123  323.000000
20        45 2020-12-20           97              125  243.000000
21        60 2020-12-21          108              131  364.200000
23        60 2020-12-23          130              101  300.000000
24        45 2020-12-24          105              132  246.000000
25        60 2020-12-25          102              126  334.500000
26        60 2020-12-26          100              120  250.000000
27        60 2020-12-27           92              118  241.000000
28        60 2020-12-28          103              132  306.806897
29        60 2020-12-29          100              132  280.000000
30        60 2020-12-30          102              129  380.300000
31        60 2020-12-31           92               11  306.806897

También se pueden elmininar las filas duplicadas:

In [9]:
print(df.duplicated())

df.drop_duplicates(inplace = True)
df

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
18    False
19    False
20    False
21    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

    Duración      Fecha  Pulsaciones  Máx pulsaciones    Calorías
0         60 2020-12-01          110              130  409.100000
1         60 2020-12-02          117              145  479.000000
2         60 2020-12-03          103              135  340.000000
3         45 2020-12-04          109              175  282.400000
4         45 2020-12-05          117              148  406.000000
5         60 2020-12-06          102              127  300.000000
6         60 2020-12-07          110              136  374.000000
7        120 2020-12-08          104              134  253.300000
8         30 2020-12-09          109              133  195.100000
9         60 2020-12-10           98              124  269.000000
10        60 2020-12-11          103              147  329.300000
11        60 2020-12-12          100              120  250.700000
13        60 2020-12-13          106              128  345.300000
14        60 2020-12-14          104              132  379.300000
15        60 2020-12-15           98              123  275.000000
18        45 2020-12-18           90              112  306.806897
19        60 2020-12-19          103              123  323.000000
20        45 2020-12-20           97              125  243.000000
21        60 2020-12-21          108              131  364.200000
23        60 2020-12-23          130              101  300.000000
24        45 2020-12-24          105              132  246.000000
25        60 2020-12-25          102              126  334.500000
26        60 2020-12-26          100              120  250.000000
27        60 2020-12-27           92              118  241.000000
28        60 2020-12-28          103              132  306.806897
29        60 2020-12-29          100              132  280.000000
30        60 2020-12-30          102              129  380.300000
31        60 2020-12-31           92               11  306.806897